* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.single-column {
    width: 50%;
    min-width: 500px;
    max-width: 1440px;
    margin: 0px auto;
}
.light-container {
    background-color: coral;
    padding: 48px 0px;
}
.dark-container {
    background-color: lightcoral;
    padding: 48px 0px;
}
.medium-container {
    background-color: darkred;
    padding: 48px 0px;
}