@import url("https://use.typekit.net/qdj1ruu.css");
@import url("https://use.typekit.net/qdj1ruu.css");
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: lightgrey;
}
nav {
    background-color: rgb(145, 143, 143);
    display: flex;
    align-items: center;
    img {
        width: 90px;
    }
}
nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 24px;
     &:hover {
        background-color: #A97C50;
    }
}
nav > .logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding: 13px 24px 12px;
}
.dropdown-container {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    box-shadow: -2px 2px 5px #5558;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5s,
        visibility 1s,
    ;
}
.dropdown-menu a {
    background-color: rgb(30, 77, 30);
    width: 100%;
    min-width: 150px;
    &:hover {
        background-color: #4F392A;
    }
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
#hero {
    height: 90vh;
    background-image: url(../images/mainhero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
        margin-top: 0px;
        margin: 14px;
        font-size: 100px;
        color: white;
        display: flex;
        justify-content: center;
    }
    h4 {
        font-size: 48px;
        color: white;
        margin-left: 48px;
        margin-top: 5px;
        display: flex;
        justify-content: center;
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 24px;
        display: inline-block;
        padding: 12px;
        margin-left: 50px;
        border: 5px solid white;
        background-color: #A97C50;
    }
}
#hero-content {
    font-size: 0px;
    margin-bottom: 36px;
}
#footer-navbar {
    background: linear-gradient(to bottom, #D7CD26, #136439);
    color: black;
    padding: 12px;
    display: flex;
    justify-content: center;
}
#footer a {
    text-decoration: none;
    color: white;
}
#footer-navbar {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
#centered-column {
    width: 90vw;
    max-width: 800px;
    margin:48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}
.card {
    width: 350px;
    padding: 10px;
    box-shadow: -4px 4px 12px #1e3b25;
    background: linear-gradient(-50deg, #346c31, #8cc282, #D7CD26);
    display: flex;
    flex-direction: column;
}
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.card h2 {
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.card p {
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex: 1;
}
.card a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    border: 3px solid #136439;
    transition:
        background-color 0.5s, 
        color 0.5s
    ;
}
.card a:hover {
    background-color:#D7CD26;
    color: black;
}
@media screen and (max-width: 768px) {
    #centered-columns {
        flex-direction: column;
    }
    .logo  {
        margin: 0px auto;
        padding: 12px;
    }
    #navbar {
        flex-direction: column;
    }
    nav a {
        padding: 12px;
    }
    #hero h1 {
        font-size: 36px;
    }
    #hero h3 {
        font-size: 22px;
    }
    .three-cards a {
        padding: 10px;
    }
    #nav h2 {
        font-size: 12px;
    }
    #menu.html {
        flex-direction: column;
    }
    #footer-navbar {
        flex-direction: column;
        text-align: center;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #hero-content {
        flex-direction: column;
        text-align: center;
    }
    h4 {
        font-size: 24px;
        flex-direction: column;
    }
    h2 {
        flex-direction: column;
    }
}

a {
    font-family: "flower-power", sans-serif;
}
h1 {
    font-family: "flower-power", sans-serif;
}
h2 {
    font-family: "bree-serif", serif;
}
h4 {
    font-family: "bree-serif", serif;
}
