/* Drill 1 - Write your code solution below */
.orange p {
    color: limegreen;
}
.red p {
    color: limegreen;
}


/* Drill 2 - Write your code solution below */
.purple p {
    color: orangered;
}
.blue p {
    color: orangered;
}


/* Drill 3 - Write your code solution below */



/* Drill 4 - Write your code solution below */
.shadow p {
    background-color: skyblue;
}


/* Drill 5 - Write your code solution below */


