* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: monospace;
}
#hero-1 {
    background-image: url(../images/bear.jpg);
    background-size: cover;
    background-position: center right;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 60px;
    h1 {
        font-size: 50px;
        padding-left: 100px;
        padding-right: 10px;
        color: yellow;
    }
    h4 {
        font-size: 20px;
        color: darkgrey;
        margin-top: 0px;
        margin-left: 300px;
    }
    a {
        text-decoration: none;
        color: rgb(65, 8, 8);
        margin-left: 400px;
        margin-top: 10px;
        font-weight: bold;
        font-size: 18px;
        background-color: darkgreen;
        margin-right: auto;
    }
}
#hero-2 {
    background-image: url(../images/sun.jpg);
    background-size: cover;
    background-position: center right;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 60px;
    h1 {
        font-size: 60px;
        padding-left: 100px;
        padding-right: 10px;
        padding-top: 50px;
        color: grey;
    }
    h4 {
        font-size: 30px;
        color: black;
        margin-top: 0px;
        margin-left: 300px;
    }
    a {
        text-decoration: none;
        font-size: 14px;
        color: rgb(145, 33, 83);
        margin-left: 400px;
        margin: auto;
        font-weight: bold;
        background-color: aliceblue;
        border-radius: 12px;
        text-align: center;
    }
}
#hero-3 {
    background-image: url(../images/desk.jpg);
    background-size: cover;
    background-position: center right;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 60px;
    h1 {
        font-size: 50px;
        padding-top: 30%;
        padding-left: 70px;
        padding-right: 10px;
        color: grey;
    }
    h4 {
        font-size: 20px;
        color: black;
        margin-top: 0px;
        margin-left: 200px;
    }
    a {
        text-decoration: none;
        color: rgb(145, 33, 83);
        margin-left: 300px;
        margin-top: 10px;
        font-weight:bold
    }
}