* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: monospace;
}
#hero-1 {
    background-image: url(../images/bear.jpg);
    background-size: cover;
    background-position: center right;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 60px;
    h1 {
        font-size: 50px;
        padding-left: 100px;
        padding-right: 10px;
        color: yellow;
    }
    h4 {
        font-size: 20px;
        color: white;
        margin-top: 0px;
        margin-left: 200px;
    }
    a {
        text-decoration: none;
        color: red;
        margin-left: 200px;
        margin-top: 10px;
        font-weight:bold
    }
}
#hero-2 {
    background-image: url(../images/sun.jpg);
    background-size: cover;
    background-position: center right;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 60px;
    h1 {
        font-size: 50px;
        padding-left: 100px;
        padding-right: 10px;
        color: grey;
    }
    h4 {
        font-size: 20px;
        color: black;
        margin-top: 0px;
        margin-left: 200px;
    }
    a {
        text-decoration: none;
        color: rgb(145, 33, 83);
        margin-left: 200px;
        margin-top: 10px;
        font-weight:bold
    }
}
#hero-3 {
    background-image: url(../images/desk.jpg);
    background-size: cover;
    background-position: center right;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 60px;
    h1 {
        font-size: 50px;
        padding-top: 40%;
        padding-left: 100px;
        padding-right: 10px;
        color: grey;
    }
    h4 {
        font-size: 20px;
        color: black;
        margin-top: 0px;
        margin-left: 200px;
    }
    a {
        text-decoration: none;
        color: rgb(145, 33, 83);
        margin-left: 200px;
        margin-top: 10px;
        font-weight:bold
    }
}